<form [formGroup]="LoginForm" (ngSubmit)="submitForm(LoginForm)" class="login__form">

    <div class="form__fields">
        <mat-form-field>
          <input matInput type="email" placeholder="Enter your email" required [formControl]="this.LoginForm.controls.email">
          <mat-error *ngIf="this.LoginForm.controls.email.invalid && this.LoginForm.controls.email.dirty">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
    </div>

    <div class="form__fields">
        <mat-form-field>
          <input matInput [formControl]="this.LoginForm.controls.password"
                 placeholder="Enter your password" [type]="!hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="this.LoginForm.controls.password.invalid && this.LoginForm.controls.password.dirty">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
    </div>

    <div class="form__fields__error">
      <mat-error *ngIf="this.formError">
        {{this.formError}}
      </mat-error>
    </div>

    <div class="login__submit">
      <div class="">
        <button mat-stroked-button [disabled]="formSubmitted || LoginForm.invalid"  color="primary" type="submit">Sign in</button>
      </div>
    </div>

</form>
{{this.LoginForm.valid}}

