<div class="spinner">
  <div class="tour-spinner">
    <section>
      <div class="sk-circle-bounce">
        <div class="sk-circle-1 sk-child"></div>
        <div class="sk-circle-2 sk-child"></div>
        <div class="sk-circle-3 sk-child"></div>
        <div class="sk-circle-4 sk-child"></div>
        <div class="sk-circle-5 sk-child"></div>
        <div class="sk-circle-6 sk-child"></div>
        <div class="sk-circle-7 sk-child"></div>
        <div class="sk-circle-8 sk-child"></div>
        <div class="sk-circle-9 sk-child"></div>
        <div class="sk-circle-10 sk-child"></div>
        <div class="sk-circle-11 sk-child"></div>
        <div class="sk-circle-12 sk-child"></div>
      </div>
    </section>
  </div>
</div>

